* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: relative;

}

button {
    cursor: pointer;
    border: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 9999;
}

/* header style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0px;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 1.11rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.acount-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.acount-cart i {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/* main section style */
.main-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 113px 55px;
    padding-bottom: 80px;
}

.main-section img {
    opacity: 0;
    position: absolute;
    z-index: 23;
    animation: show-img-from-top 1.5s;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.red-jordan {
    top: 30px;
    left: 29%;
    width: 575px;
}

.blue-jordan {
    width: 712px;
    top: -80px;
    left: 24%;
}

.green-jordan {
    top: -37px;
    left: 26%;
    width: 703px;
}

@keyframes show-img-from-top {
    0% {
        display: none;
        top: -200%;
    }

    100% {
        display: flex;
    }
}

.small-title {
    color: #FFF;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.65px;
    text-transform: uppercase;
}

.left-content .description {
    width: 390px;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.479px;
    opacity: 0.5;
}

.play-video {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 10px;
    height: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.play-video .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.line {
    position: absolute;
    width: 48px;
    height: 450px;
    flex-shrink: 0;
    background: #FFF;
    top: -200px;
    z-index: 22;
}

.line:nth-child(1) {
    height: 640px;
    top: -36%;
    left: 42.5%;
    animation: show-from-top 1.6s ease;
}

.line:nth-child(2) {
    top: -35%;
    left: 46.5%;
    animation: show-from-top 2s ease;
}

.line:nth-child(3) {
    top: -35%;
    left: 50.5%;
    animation: show-from-top 2s ease;
}

.line:nth-child(4) {
    top: -35%;
    left: 54.5%;
    animation: show-from-top 2s ease;
}

@keyframes show-from-top {
    0% {
        display: none;
        top: -200%;
        opacity: 0;
    }

    100% {
        display: flex;
        top: -35%;
        opacity: 1;
    }
}

.right-content {
    margin-right: 3rem;
}

.select-clr-title,
.select-size-title {
    color: #FFF;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-size: 27.83px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sizes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.size {
    color: #fff;
    background-color: transparent;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1.16px solid #CBCBCB;
    transition: all .7s;
}

.size:hover {
    color: #000;
    background-color: #fff;
    border: 1.16px solid #575757;
}

.select-clr-btn {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 10px;
}

.select-clr-btn.red-btn {
    background-color: #FF0006;
}

.select-clr-btn.blue-btn {
    background-color: #0058B8;
}

.select-clr-btn.green-btn {
    background-color: #03602A;
}

/* footer style */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.arows {
    display: flex;
    color: #fff;
    gap: 20px;
}

footer button {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.socialmidea-icons {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}