* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #d30205;
    position: relative;
}

button {
    cursor: pointer;
    border: none;
}

/* header style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0px;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 1.11rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.acount-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.acount-cart i {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/* main section style */
.main-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

}

.main-section img {
    position: relative;
    width: 589.785px;
    margin-left: -13rem;
    z-index: 23;
}


.small-title {
    color: #FFF;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.65px;
    text-transform: uppercase;
}

.left-content .description {
    width: 390px;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.479px;
    opacity: 0.5;
}

.play-video {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 10px;
    height: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.play-video .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.line {
    position: absolute;
    width: 48px;
    height: 450px;
    flex-shrink: 0;
    background: #FFF;
    top: -200px;
    z-index: 22;
}

.line:nth-child(1) {
    height: 650px;
    top: -36%;
    left: 42.5%;
}

.line:nth-child(2) {
    top: -35%;
    left: 46.5%;
}

.line:nth-child(3) {
    top: -35%;
    left: 50.5%;
}

.line:nth-child(4) {
    top: -35%;
    left: 54.5%;
}


.select-clr-title,
.select-size-title {
    color: #FFF;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-size: 27.83px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sizes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.size {
    color: #fff;
    background-color: transparent;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1.16px solid #CBCBCB;
}

.select-clr-btn {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 10px;
}

.select-clr-btn.red {
    background-color: #FF0006;
}

.select-clr-btn.bleu {
    background-color: #0058B8;
}

.select-clr-btn.green {
    background-color: #03602A;
}

/* footer style */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.arows {
    display: flex;
    color: #fff;
    gap: 20px;
}

footer button {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.socialmidea-icons {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}